:root {
    --backgroundColor: rgb(128, 128, 128);
}

* {
    font-family: Nunito;
    vertical-align: top;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}